{% extends 'HorusBackendBundle::layout_simple.html.twig' %}

{% block content %}

        <h1 class="form-header"><i class="glyphicon glyphicon-off"></i>  Authentification</h1>


        <div class="row">
        <div class="panel">
            <h4>Vous n'avez pas accès à cette partie du site</h4>
        </div>
        </div>

{% endblock %}


